<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ras Site</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/main.css') }}">
    </head>
    <body>
        <h1 class="top">Welcome to Ras Site Todos!</h1>
        <div class="hold">
            {% if todos == [] %}
            <div>
                No todos to display. 
                Feel free to add some below!
            </div>
            {% else %}
            {% for task in todos %}
            <form  action="http://127.0.0.1:8000/remove/{{task.id}}" method="post">
                {{task["desc"]}}
                <input type="submit" value="complete"/>
            </form>
            {% endfor %}
            {% endif %}
            <div>
                <form action="http://127.0.0.1:8000/add" method="post">
                    <label>Task name: </label>
                    <input id="desc" name="desc"/>
                    <input type="submit" id="Add" value="Add"/>
                </form>
            </div>
        </div>
        <form action="http://127.0.0.1:8000/clear" method="post">
            <input type="submit" id="clear" value="clear"/>
        </form>
    </body>
</html>