<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ras Site</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/main.css') }}">
    </head>
    <body>
        <h1 class="top">Welcome to Ras Site Todos!</h1>
        <div>
            {% if todos == [] %}
            <div>
                Empty
            </div>
            {% else %}
            <div>
                Not
            </div>
            {% endif %}
            <div>
                <form>
                    <label></label>
                    <input/>
                    <label></label>
                    <input/>
                    <label></label>
                    <input/>
                </form>
            </div>
        </div>

    </body>
</html>