* {
    font-family: Arial, Helvetica, sans-serif;
}

.top {
    text-align: center;
    font-weight: normal;
}

.hold {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}